:root {
    --header-color: #B4DD;
}
.header{
    background-color: #513965;
    display: flex;
    gap: 10px;
    font-size: 2rem;
    align-items: center;
    height: 50px;
    background-image: linear-gradient(to right,#724b92, #513965);
}
.header > h5 {
    color: #ffbd99;
}
i{
    padding-left: 10px;
}
body {
    margin: 0px;
    background-color: #ffbd99;
}
*{
    font-family: "Lucida Console", "Courier New", monospace;
}

